.*.sw?
/pkg
/spec/fixtures/**
!/spec/fixtures/modules/
!/spec/fixtures/modules/test/
!/spec/fixtures/modules/test/**
/.rspec_system
/.vagrant
/.bundle
/vendor
/Gemfile.lock
/junit
/log
/coverage
/git_stats
